body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px; /* Esempio di aumento della larghezza */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
    color: #333;
    margin-bottom: 10px;
}

h4 {
    color: #666;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

video {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: auto;

}

.info-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    border-radius: .25rem;
}

.info-message p {
    font-size: 14px; /* Imposta la dimensione del carattere desiderata */
    color: green; /* Colore del testo */
}