<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/templateBase :: common_head_title_links(~{::title},~{::links})}">
    <title th:fragment="title">Luna Sapiens | Pagina privata</title>
    <th:block th:fragment="links">
        <link rel="stylesheet" th:href="@{/css/style.css(v=${vCssStyle})}" />
    </th:block>
</head>

<body>
<header th:replace="~{fragments/templateBase :: header}"></header>

<div class="container mt-4">

    <h1 class="mb-4">Pagina Utente</h1>

    <div th:replace="~{fragments/templateBase :: message_alerts}"></div>

    <div class="alert alert-primary mb-4">
        <p>Benvenuto, <b><span sec:authentication="name">NOT FOUND</span>!</b> Sei un utente iscritto a LunaSapiens.</p>

        <p>Ora puoi approfittare del vantaggio di porre più domande alla <a href="/psicologo">Chat Psicologo IA</a>.</p>

        <p>L'applicazione è in fase di sviluppo. Sono previsti aggiornamenti.</p>
    </div>


    <!-- Sezione visibile solo per l'utente "matte.manili@gmail.com" -->
    <div sec:authorize="authentication.principal.username == 'matteo.manili@gmail.com'">
        <div class="alert alert-dark mb-4">
            <p class="mt-2"><a href="/private/editorArticles">Editor Articoli - Blog</a></p>
        </div>
    </div>


    <!-- Sezione visibile solo per l'utente "matte.manili@gmail.com" -->
    <div sec:authorize="authentication.principal.username == 'matteo.manili@gmail.com'">
        <div class="alert alert-dark mb-4">
        <p th:text="${infoDisabledAnalyticsCookie}"></p>
        <p class="mt-2">
            <a href="/set-disable-analytics-cookie">Clicca qui per disabilitare il tracciamento di Google Analytics</a>
        </p>
        </div>
    </div>


    <!-- <div class="alert alert-dark mb-4">
        <form th:action="@{/private/subscribe-oroscopo}" method="post">
            <div class="form-check d-flex align-items-center">
                <label class="form-check-label" for="oroscopoCheckbox">
                    Riceveri l'Oroscopo del Giorno via email</label>
                <input class="form-check-input ms-3" type="checkbox" id="oroscopoCheckbox" name="subscribedOroscGiorn"
                       th:checked="${isSubscribedOroscGiorn}" onchange="this.form.submit()" onclick="showLoadingOverlay()">
            </div>
        </form>
    </div> -->


    <!-- scerivi qui il codice -->
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info mb-4 ">
                <p class="mt-2">Una volta effettuato il logout, dovrai richiedere nuovamente l'email per autenticarti al prossimo accesso.</p>
                <a href="/private/logout" class="btn btn-info">Esci dall'account</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-danger mb-4">
                <p class="mt-2">Vuoi eliminare il tuo account da LunaSapiens? Clicca qui sotto per procedere con la cancellazione.</p>
                <a href="/private/cancellaUtente" class="btn btn-danger">Elimina Account</a>
            </div>
        </div>
    </div>

</div>

<div th:replace="~{fragments/templateBase :: loadingOverlay}"></div>
<footer th:replace="~{fragments/templateBase :: footer}"></footer>
<div th:replace="~{fragments/templateBase :: link-js-util-bootstrap}"></div>
</body>
</html>
