<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="info-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- tag WPA -->
    <meta name="theme-color" content="#317EFB">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="LunaSapiens">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XGFTKCH8TD"></script>
    <script th:inline="javascript">
        // Inietto la variabile dal backend in una variabile JavaScript globale
        var cookieDisabledGoogleAnalytics = /*[[${cookieDisabledGoogleAnalytics}]]*/ '';
    </script>
    <script src="/js/googleAnalytics.js?v=1.0"></script>
    <link rel="icon" type="image/x-icon" href="/moon_icon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</th:block>

<!-- https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html
    IMPORTANTE!!!! COME USARE I FRAGMENT QUANDO SI RICHIAMANO DALLE PAGINE.
    SE SI PASSA SOLO IL title  allora usare il metodo: common_head_title( title )
    SE SI PASSA SOLO IL title e links allora usare il metodo: common_head_title_links( title, links )
    SE SI PASSA IL title e links e scripts allora usare common_head_title_links_scripts( title, links, scripts )
    SE NON SI PASSANO TUTTI PARAMETRI ALLORA DA ERRORE
<head th:replace="~{fragments/templateBase :: common_head_title_links(~{::title},~{::links},~{::scripts}) }">
    <title>Tema Natale</title>
    <th:block th:fragment="links">
        <link rel="stylesheet" href="style_1.css">
		<link rel="stylesheet" href="style_2.css">
    </th:block>
    <th:block th:fragment="scripts">
        <script src="file_1.js"></script>
        <script src="file_2.js"></script>
    </th:block>
    <meta name="robots" content="noindex">
</head> -->

<head th:fragment="common_head_title(title)">
    <th:block th:insert="~{fragments/templateBase :: info-head}" />
    <title th:replace="${title}">LunaSapiens</title>
</head>

<head th:fragment="common_head_title_meta(title, meta)">
    <th:block th:insert="~{fragments/templateBase :: info-head}" />
    <title th:replace="${title}">LunaSapiens</title>
    <th:block th:replace="${meta}" />
</head>

<head th:fragment="common_head_title_links(title, links)">
    <th:block th:insert="~{fragments/templateBase :: info-head}" />
    <title th:replace="${title}">LunaSapiens</title>
    <th:block th:replace="${links}" />
</head>

<head th:fragment="common_head_title_meta_links(title, meta, links)">
    <th:block th:insert="~{fragments/templateBase :: info-head}" />
    <title th:replace="${title}">LunaSapiens</title>
    <th:block th:replace="${meta}" />
    <th:block th:replace="${links}" />
</head>

<head th:fragment="common_head_title_meta_links_scripts(title, meta, links, scripts)">
    <th:block th:insert="~{fragments/templateBase :: info-head}" />
    <title th:replace="${title}">LunaSapiens</title>
    <th:block th:replace="${meta}" />
    <th:block th:replace="${links}" />
    <th:block th:replace="${scripts}" />
</head>

<head th:fragment="common_head_title_links_scripts(title, links, scripts)">
    <th:block th:insert="~{fragments/templateBase :: info-head}" />
    <title th:replace="${title}">LunaSapiens</title>
    <th:block th:replace="${links}" />
    <th:block th:replace="${scripts}" />
</head>

<!-- <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li> -->
<!-- Responsive navbar  -->
<header th:fragment="header" id="header-placeholder">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="/">LunaSapiens.com</a>
            <a class="navbar-brand ms-3" href="/private/privatePage" sec:authorize="isAuthenticated()">
                <span sec:authentication="name" id="user-email" class="small">USER-NOT-FOUND</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/tema-natale">Tema Natale IA</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sinastria">Sinastria IA</a></li>
                    <li class="nav-item"><a class="nav-link" href="/oroscopo">Oroscopo</a></li>
                    <li class="nav-item"><a class="nav-link" href="/omeopatia-astrologica">Omeopatia Astrologica</a></li>
                    <li class="nav-item"><a class="nav-link" href="/forum">Forum e Biblioteca</a></li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" href="/register">Iscriviti</a></li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" href="/matteo-manili-programmatore">Curriculum</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" href="/private/privatePage">Profilo Utente</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            //Serve per fare il refresh del fragments header, perché se l'utente si logga deve vedere la username nel header
            fetch("/header")
                .then(response => response.text())
                .then(html => {
                    // Inserisci l'HTML dell'header nella pagina
                    document.getElementById("header-placeholder").innerHTML = html;
                    // Esegui il codice di evidenziazione del link del menu dopo aver aggiornato l'header
                    highlightActiveMenuLink();
                })
                .catch(error => {
                    console.error('Errore nel caricamento dell\'header:', error);
                });
        });
    </script>
</header>


<!-- alert -->
<div th:fragment="message_alerts">
    <div th:if="${infoError != null and infoError != ''}" class="alert alert-danger mt-3" role="alert">
        <p th:text="${infoError}"></p></div>
    <div th:if="${infoAlert != null and infoAlert != ''}" class="alert alert-warning mt-3" role="alert">
        <p th:text="${infoAlert}"></p></div>
    <div th:if="${infoMessage != null and infoMessage != ''}" class="alert alert-success mt-3" role="alert">
        <p th:text="${infoMessage}"></p></div>
</div>


<!-- pulsanti social -->
<div th:fragment="pulsanti_social(linkEnding)" class="btn-group mt-4 d-flex flex-wrap justify-content-center" role="group">
    <!-- Pulsante Facebook -->
    <a th:href="|https://www.facebook.com/sharer/sharer.php?u=https://www.lunasapiens.com/${linkEnding}|" class="btn btn-primary rounded-pill m-2" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-facebook"></i> Condividi su Facebook</a>
    <!-- Pulsante WhatsApp -->
    <a th:href="|https://wa.me/?text=Scopri%20il%20tuo%20${linkEnding}%20con%20LunaSapiens!%20https://www.lunasapiens.com/${linkEnding}|" class="btn btn-success rounded-pill m-2" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-whatsapp"></i> Condividi su WhatsApp</a>
    <!-- Pulsante Telegram -->
    <a th:href="|https://t.me/share/url?url=https://www.lunasapiens.com/${linkEnding}&text=Scopri%20il%20tuo%20${linkEnding}%20con%20LunaSapiens!|" class="btn btn-info rounded-pill m-2" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-telegram"></i> Condividi su Telegram</a>
</div>


<!-- FINESTRA DI ATTESA -->
<div th:fragment="loadingOverlay" class="loading-overlay" id="loadingOverlay">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">attendere...</span>
    </div>
</div>


<!-- FOOTER -->
<footer th:fragment="footer" class="py-5 bg-dark">
    <div class="container px-4 px-lg-5">
        <p class="m-0 text-center text-white">
            <a href="/info-privacy" class="fs-6 text-white">Informazioni e Privacy</a> |
            <a href="/matteo-manili-programmatore" class="fs-6 text-white">Curriculum</a> |
            <a href="/contatti" class="fs-6 text-white">Contatti</a>
        </p>
    </div>
</footer>


<th:block th:fragment="js-util"><script src="/js/util.js?v=2.0"></script></th:block>

<!-- sezione di link ricorrenti nelle pagine -->
<div th:fragment="link-js-util-bootstrap-jquery">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <th:block th:insert="~{fragments/templateBase :: js-util}" />
</div>

<!-- sezione di link ricorrenti nelle pagine -->
<div th:fragment="link-js-util-bootstrap">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <th:block th:insert="~{fragments/templateBase :: js-util}" />
</div>



</html>