<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="info-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- tag WPA -->
    <meta name="theme-color" content="#317EFB">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Nome della Tua App">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H4Y4Z7JH9B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-H4Y4Z7JH9B');

        // Funzione per inviare l'evento personalizzato a GA4
        function trackFormSubmit() {
            console.log("trackFormSubmit ok");
            gtag('event', 'submit_form', {
                'event_category': 'Form',
                'event_label': 'genera_tema_natale',
                'value': 1
            });
        }
    </script>
    <link rel="icon" type="image/x-icon" href="/moon_icon.ico" />
    <link href="/css/bootstrap.5.2.3.min.css" rel="stylesheet">
</th:block>

<!--
    https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html
    IMPORTANTE!!!! COME USARE I FRAGMENT QUANDO SI RICHIAMANO DALLE PAGINE.
    SE SI PASSA SOLO IL title  allora usare il metodo: common_head_title( title )
    SE SI PASSA SOLO IL title e links allora usare il metodo: common_head_title_links( title, links )
    SE SI PASSA IL title e links e scripts allora usare common_head_title_links_scripts( title, links, scripts )
    SE NON SI PASSANO TUTTI PARAMETRI ALLORA DA ERRORE
<head th:replace="~{fragments/templateBase :: common_head_title_links(~{::title},~{::links},~{::scripts}) }">
    <title>Tema Natale</title>
    <th:block th:fragment="links">
        <link rel="stylesheet" href="style_1.css">
		<link rel="stylesheet" href="style_2.css">
    </th:block>
    <th:block th:fragment="scripts">
        <script src="file_1.js"></script>
        <script src="file_2.js"></script>
    </th:block>
    <meta name="robots" content="noindex">
</head> -->

<head th:fragment="common_head_title(title)">
    <th:block th:insert="~{fragments/templateBase :: info-head}" />
    <title th:replace="${title}">LunaSapiens</title>
</head>

<head th:fragment="common_head_title_meta(title, meta)">
    <th:block th:insert="~{fragments/templateBase :: info-head}" />
    <title th:replace="${title}">LunaSapiens</title>
    <th:block th:replace="${meta}" />
</head>

<head th:fragment="common_head_title_links(title, links)">
    <th:block th:insert="~{fragments/templateBase :: info-head}" />
    <title th:replace="${title}">LunaSapiens</title>
    <th:block th:replace="${links}" />
</head>

<head th:fragment="common_head_title_meta_links(title, meta, links)">
    <th:block th:insert="~{fragments/templateBase :: info-head}" />
    <title th:replace="${title}">LunaSapiens</title>
    <th:block th:replace="${meta}" />
    <th:block th:replace="${links}" />
</head>

<head th:fragment="common_head_title_meta_links_scripts(title, meta, links, scripts)">
    <th:block th:insert="~{fragments/templateBase :: info-head}" />
    <title th:replace="${title}">LunaSapiens</title>
    <th:block th:replace="${meta}" />
    <th:block th:replace="${links}" />
    <th:block th:replace="${scripts}" />
</head>

<head th:fragment="common_head_title_links_scripts(title, links, scripts)">
    <th:block th:insert="~{fragments/templateBase :: info-head}" />
    <title th:replace="${title}">LunaSapiens</title>
    <th:block th:replace="${links}" />
    <th:block th:replace="${scripts}" />
</head>




<body>

<!-- Responsive navbar  -->
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="/">LunaSapiens.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/oroscopo">Oroscopo</a></li>
                    <li class="nav-item"><a class="nav-link" href="/tema-natale">Tema Natale IA</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contatti">Contatti</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<!-- pulsanti social -->
<div th:fragment="pulsanti_social(linkEnding)" class="btn-group mt-4 d-flex flex-wrap justify-content-center" role="group">
    <a th:href="|https://www.facebook.com/sharer/sharer.php?u=https://www.lunasapiens.com/${linkEnding}|" class="btn btn-primary rounded-pill m-2" target="_blank" rel="noopener noreferrer">
        Condividi su Facebook
    </a>
    <a th:href="|https://wa.me/?text=Scopri%20il%20tuo%20${linkEnding}%20con%20LunaSapiens!%20https://www.lunasapiens.com/${linkEnding}|" class="btn btn-success rounded-pill m-2" target="_blank" rel="noopener noreferrer">
        Condividi su WhatsApp
    </a>
    <a th:href="|https://t.me/share/url?url=https://www.lunasapiens.com/${linkEnding}&text=Scopri%20il%20tuo%20${linkEnding}%20con%20LunaSapiens!|" class="btn btn-info rounded-pill m-2" target="_blank" rel="noopener noreferrer">
        Condividi su Telegram
    </a>
</div>



<!-- FINESTRA DI ATTESA -->
<div th:fragment="loadingOverlay" class="loading-overlay" id="loadingOverlay">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">attendere...</span>
    </div>
</div>



<!-- FOOTER -->
<footer th:fragment="footer" class="py-5 bg-dark">
    <div class="container px-4 px-lg-5">
        <p class="m-0 text-center text-white">
            <a href="/info-privacy" class="fs-6 text-white">Informativa sulla Privacy</a> |
            <a href="/termini-di-servizio" class="fs-6 text-white">Termini di Servizio</a> |
            <a href="/contatti" class="fs-6 text-white">Contatti</a>
        </p>
    </div>
</footer>




<!-- sezione di link ricorrenti nelle pagine -->
<div th:fragment="link-js-util-bootstrap-jquery">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/1.13.1.jquery-ui.min.js"></script>
    <script src="/js/bootstrap.5.2.3.bundle.min.js"></script>
    <script src="/js/util.js"></script>
</div>



</body>
</html>