/* Questo è un commento in CSS */

.single-article-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.single-article-date {
    white-space: nowrap;
    font-size: 0.9rem;
    opacity: 0.75;
}

.blog-article-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-article-title:hover {
    text-decoration: underline;
}

.blog-article-meta {
    font-size: 0.85rem;
    opacity: 0.7;
    white-space: nowrap;
}


/* Selettore per tutte le immagini */
img {
    max-width: 100%;   /* Le immagini non supereranno mai la larghezza del loro contenitore */
    height: auto;      /* La loro altezza sarà proporzionale alla larghezza */
}

/* CSS per le classi di dimensioni */
.text-tiny {
    font-size: 10px; /* Dimensione molto piccola */
    line-height: 1.2; /* Regola l'interlinea per adattarsi */
    color: #666; /* Colore opzionale per differenziare */
}

.text-small {
    font-size: 12px; /* Dimensione piccola */
    line-height: 1.4;
    color: #333; /* Colore leggermente più scuro */
}

.text-default {
    font-size: 16px; /* Dimensione normale */
    line-height: 1.6;
    color: #000; /* Colore standard */
}

.text-big {
    font-size: 20px; /* Dimensione grande */
    line-height: 1.8;
    font-weight: bold; /* Grassetto opzionale */
    color: #111; /* Colore leggermente più scuro */
}

.text-huge {
    font-size: 24px; /* Dimensione molto grande */
    line-height: 2;
    font-weight: bold; /* Grassetto opzionale */
    color: #000; /* Colore standard */
}

/* Opzionale: Aggiungere margini per separare i blocchi di testo */
.text-tiny, .text-small, .text-default, .text-big, .text-huge {
    margin-bottom: 1rem;
}

/* Utilità per combinare con altri stili */
.text-tiny.center,
.text-small.center,
.text-default.center,
.text-big.center,
.text-huge.center {
    text-align: center;
}

/* Limita a 20 righe e nasconde l'overflow: */
.collapsible-text {
    max-height: 30em; /* circa 20 righe di testo 30em; */
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease;
}

.collapsible-text.expanded {
    max-height: none;
}