/* Stile per la finestra di attesa, la uso nella pagina contatti */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
}
.spinner-border {
    width: 3rem;
    height: 3rem;
}


.ui-helper-hidden-accessible {
    display: none; /* Nascondi il messaggio dei risultati disponibili */
}
/* pulsanti social */
@media (max-width: 576px) {
    .btn-group {
        flex-direction: column;
    }
    .btn-group .btn {
        margin: 0.5rem 0;
    }
}