<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/templateBase :: common_head_title_meta_links_scripts(~{::title},~{::meta},~{::links},~{::scripts})}">
    <title th:fragment="title">Luna Sapiens | Contatti</title>
    <th:block th:fragment="meta">
    <meta name="description" content="Contatta il team di LunaSapiens.com per qualsiasi domanda o richiesta. Compila il modulo con il tuo nome, email e messaggio e ricevi assistenza per le tue esigenze astrologiche e servizi offerti. Siamo qui per aiutarti e rispondere alle tue domande!">
    <meta name="keywords" content="contatti, assistenza clienti, supporto, richieste, LunaSapiens, modulo di contatto, informazioni astrologiche, assistenza astrologica">
    </th:block>
    <th:block th:fragment="links">
        <link rel="stylesheet" href="/css/style.css">
    </th:block>
    <th:block th:fragment="scripts">
        <script src="https://www.google.com/recaptcha/enterprise.js?render=6Ld0P8YqAAAAAMkoHnykcf5Yjy2UtyTHKXIiDnlR"></script>
    </th:block>
</head>
<body>
<header th:replace="~{fragments/templateBase :: header}"></header>
<div class="container mt-4">

    <h1 class="mb-4">Contatti</h1>

    <div class="bg-light p-4 rounded-3 mb-3 ">
        <div th:replace="~{fragments/templateBase :: message_alerts}"></div>

        <form th:action="@{/contattiSubmit}" th:object="${contactForm}" id="contact-form" method="post">
            <div class="row gy-3 gy-xl-4 p-xl-4 p-4">

                <div class="col-12">
                    <label for="name" class="form-label">Nome <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" required />
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                            </svg>
                        </span>
                        <input type="email" class="form-control" id="email" th:field="*{email}" required />
                    </div>
                </div>

                <div class="col-12">
                    <label for="message" class="form-label">Messaggio <span class="text-danger">*</span></label>
                    <textarea class="form-control" id="message" th:field="*{message}" rows="3" required></textarea>
                </div>

                <div class="col-12">
                    <div class="d-grid">
                        <button class="g-recaptcha btn btn-primary btn-lg"
                                data-sitekey="6Ld0P8YqAAAAAMkoHnykcf5Yjy2UtyTHKXIiDnlR"
                                data-callback="onSubmit"
                                data-action="submit">Invia Messaggio</button>
                    </div>
                </div>

            </div>
        </form>


    </div>
</div>

<!-- Finestra di attesa -->
<div th:replace="~{fragments/templateBase :: loadingOverlay}"></div>
<footer th:replace="~{fragments/templateBase :: footer}"></footer>
<div th:replace="~{fragments/templateBase :: link-js-util-bootstrap}"></div>


<script>


    function onSubmit(token) {
        showLoadingOverlay(); // Mostra l'animazione di caricamento
        document.getElementById("contact-form").submit();
    }





</script>



</body>
</html>
