<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/templateBase :: common_head_title_links(~{::title},~{::links}) }">
    <title>Contatti</title>
    <th:block th:fragment="links">
        <link rel="stylesheet" href="/css/style.css">
    </th:block>
</head>

<body>
<header th:replace="~{fragments/templateBase :: header}"></header>

<div class="container mt-5">
    <h1 class="mb-4">Contatti</h1>

    <!-- Mostra il messaggio -->
    <div th:if="${infoMessage != null and infoMessage != ''}" class="alert alert-success mt-3" role="alert">
        <p th:text="${infoMessage}"></p>
    </div>

    <div class="bg-white border rounded shadow-sm overflow-hidden">

        <form action="#" th:action="@{/contattiSubmit}" th:object="${contactForm}" method="post" onsubmit="showLoadingOverlay()">
            <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                <div class="col-12">
                    <label for="name" class="form-label">Nome <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" required />
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                            </svg>
                        </span>
                        <input type="email" class="form-control" id="email" th:field="*{email}" required />
                    </div>
                </div>

                <div class="col-12">
                    <label for="message" class="form-label">Messaggio <span class="text-danger">*</span></label>
                    <textarea class="form-control" id="message" th:field="*{message}" rows="3" required></textarea>
                </div>

                <div class="col-12">
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg" type="submit">Invia Messaggio</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>

<!-- Finestra di attesa -->
<div th:replace="~{fragments/templateBase :: loadingOverlay}"></div>

<footer th:replace="~{fragments/templateBase :: footer}"></footer>
<div th:replace="~{fragments/templateBase :: link-js-util-bootstrap-jquery}"></div>

</body>
</html>
