<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/templateBase :: common_head_title_meta_links(~{::title},~{::meta},~{::links})}">
    <title th:fragment="title">Matteo Manili - Programmatore Freelance Web e Mobile - Curriculum e Portfolio</title>
    <th:block th:fragment="meta">
        <meta name="description" content="Matteo Manili, programmatore freelance specializzato nello sviluppo di web e mobile app, con esperienza in e-commerce, software personalizzati e consulenza IT. Offro soluzioni su misura per aziende e privati.">
        <meta name="keywords" content="Matteo Manili, programmatore freelance, sviluppo web, mobile app, e-commerce, Java, Spring, Thymeleaf, Bootstrap, JavaScript, PWA, API, consulenza IT, software personalizzato, LunaSapiens, Gruppo CSI, ApolloTransfert, Sambet">
        <meta property="og:title" content="Matteo Manili - Programmatore Freelance Web e Mobile">
        <meta property="og:description" content="Esperto nello sviluppo di web application e mobile app, con focus su e-commerce e software personalizzato. Contatta Matteo per soluzioni su misura per il tuo progetto.">
        <meta property="og:url" content="https://www.lunasapiens.com/curriculum">
        <meta property="og:type" content="website">
    </th:block>
    <th:block th:fragment="links">
        <link rel="canonical" href="https://www.lunasapiens.com/curriculum">
        <link rel="stylesheet" href="/css/style.css">
    </th:block>
</head>
<body>
<header th:replace="~{fragments/templateBase :: header}"></header>

<div class="container my-5">
    <div class="text-start mb-5">
        <h1>Matteo Manili</h1>
        <h2>Programmatore Freelance Web e Mobile - Curriculum e Portfolio</h2>
        <p class="mb-1"><strong>Data di nascita:</strong> 23/01/1981</p>
        <p class="mb-1"><strong>Residenza:</strong> 00166, Roma</p>
        <p class="mb-1"><strong>Email:</strong> <a href="mailto:matteo.manili@gmail.com">matteo.manili@gmail.com</a></p>
        <p class="mb-1"><strong>P. IVA:</strong> 14256941007</p>
    </div>


    <section id="servizi-offerti">
        <h2>Servizi Offerti</h2>
        <p>Sono disponibile per lo sviluppo di web application, piattaforme e-commerce e utility personalizzate. Offro soluzioni su misura per soddisfare le esigenze specifiche di ogni progetto, combinando esperienza e competenze in tecnologie avanzate.</p>
        <p>Accetto progetti freelance con Partita IVA, così come contratti a tempo indeterminato o determinato. Preferisco modalità di lavoro part-time o full-remote, per garantire la massima flessibilità e efficienza nella gestione dei progetti.</p>
        <p>Per discutere delle tue esigenze e di come posso aiutarti a realizzare il tuo progetto, <a href="mailto:matteo.manili@gmail.com">contattami via email</a> o <a href="https://wa.me/393289126869" target="_blank">contattami su WhatsApp</a>.</p>
    </section>



    <section id="competenze-informatiche" class="mt-5">
        <h2>Competenze Informatiche</h2>
        <ul class="list-group">
            <li class="list-group-item"><strong>Linguaggi:</strong> Java, JavaScript, SQL</li>
            <li class="list-group-item"><strong>Framework:</strong> JavaEE, Struts, Spring</li>
            <li class="list-group-item"><strong>Application Server:</strong> Apache Tomcat, JBoss</li>
            <li class="list-group-item"><strong>Database:</strong> MySQL, PostgreSQL, Oracle</li>
            <li class="list-group-item"><strong>Tecnologie Front-end:</strong> jQuery, Bootstrap, Thymeleaf, WebSocket, PWA</li>
            <li class="list-group-item"><strong>Tools e Automazione:</strong> Eclipse, IntelliJ, Maven, Selenium, Spring Boot, Git, GitHub</li>
            <li class="list-group-item"><strong>API e Web Services:</strong> OpenAI, Google APIs, AWS S3, Stripe, PayPal</li>
            <li class="list-group-item"><strong>Web:</strong> Google Ads, Analytics, Search Console, SEO on-page</li>
        </ul>
    </section>

    <section id="esperienze-lavorative" class="mt-5">
        <h2>Esperienze Lavorative</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Gennaio 2024 - ottobre 2024:</strong> Realizzazione di <a href="http://www.lunasapiens.com" target="_blank">LunaSapiens.com</a><br>
                Creazione di una web application per servizi astrologici usando Java, Spring Boot, OpenAI, PostgreSQL.<br>
                GitHub: <a href="https://github.com/matteo-manili/lunasapiens" target="_blank">https://github.com/matteo-manili/lunasapiens</a>
            </li>
            <li class="list-group-item">
                <strong>Dicembre 2021 - Gennaio 2024:</strong> Gruppo CSI - Ministero della Giustizia<br>
                Sviluppo in team remoto di un gestionale statale con microservizi, JavaEE, Spring Boot, Oracle 19.<br>
                <a href="https://www.gruppocsi.it" target="_blank">www.gruppocsi.it</a>
            </li>
            <li class="list-group-item">
                <strong>Gennaio 2018 - Settembre 2021:</strong> Realizzazione di ApolloTransfert.com (off line)<br>
                Piattaforma per servizi di trasporto NCC con funzioni avanzate di calcolo, pagamenti e reportistica. (Attualmente offline)<br>
                GitHub: <a href="https://github.com/matteo-manili/ApolloTransfert" target="_blank">https://github.com/matteo-manili/ApolloTransfert</a>
            </li>
            <li class="list-group-item">
                <strong>Agosto 2020 - Dicembre 2021:</strong> <a href="http://www.sambet.it" target="_blank">Sambet.it</a><br>
                Realizzazione di una piattaforma per quotazioni calcistiche in tempo reale con acquisizione API.<br>
                GitHub: <a href="https://github.com/matteo-manili/Sambet" target="_blank">https://github.com/matteo-manili/Sambet</a>
            </li>
            <li class="list-group-item">
                <strong>Maggio 2011 - Maggio 2012:</strong> ALTEN, Spagna (Barcellona)<br>
                Sviluppatore di una intranet per la gestione contabile presso Gas Natural Fenosa.<br>
                <a href="https://www.alten.com" target="_blank">www.alten.com</a>
            </li>
            <li class="list-group-item">
                <strong>Maggio 2006 - Maggio 2010:</strong> Nike Web Consulting<br>
                Sviluppo di applicazioni web in Java2EE e STRUTS, con utilizzo di Hibernate, Ajax (DWR), JavaScript, CSS, Oracle 10, SQL, PL-SQL, SQLNavigator, WebSphere 6.0, JBoss 4.0, Tomcat 6.0, Tool R.A.D. IBM Rational.<br>
                <a href="http://www.nikeconsulting.com" target="_blank">www.nikeconsulting.com</a>
            </li>
            <li class="list-group-item">
                <strong>Novembre 2005 - Aprile 2006:</strong> CONSIP<br>
                Implementazione dell'applicativo web-intranet SIPAI, un pianificatore per i progetti del Ministero dell'Economia e delle Finanze.<br>
                Tecnologie utilizzate: Java2EE, Struts, Java, JavaScript, Oracle 9, SQL, PL-SQL, Toad, Oc4j 9i (Oracle), JDeveloper.<br>
                <a href="http://www.consip.it" target="_blank">www.consip.it</a>
            </li>
        </ul>
    </section>

    <section id="formazione" class="mt-5">
        <h2>Studi e Formazione</h2>
        <ul class="list-group">
            <li class="list-group-item">1999-2000: Specializzazione come elettricista programmatore logico controllato P.L.C. presso C.F.P. Don Orione C.A.P., riconosciuta dalla Regione Lazio.</li>
            <li class="list-group-item">1997-1999: Attestato di tornitore meccanico macchine utensili C.N.C. presso C.F.P. Don Orione C.A.P., riconosciuto dalla Regione Lazio.</li>
            <li class="list-group-item">1997: Licenza media presso Scuola Media Statale Carlo Goldoni di Roma.</li>
        </ul>
    </section>

    <section id="autorizzo" class="mt-5">
        <p><i>Autorizzo il trattamento dei miei dati personali ai sensi del Decreto Legislativo 30 giugno 2003, n. 196 e del GDPR (Regolamento UE 2016/679).</i></p>
    </section>

</div>

<footer th:replace="~{fragments/templateBase :: footer}"></footer>
<div th:replace="~{fragments/templateBase :: link-js-util-bootstrap}"></div>
</body>
</html>
