<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/templateBaseEmail :: common_head_title(~{::title}) }">
    <title>LunaSapiens</title>
</head>

<body>
<div class="email-container">

    <!-- Header -->
    <div th:replace="~{fragments/templateBaseEmail :: header}"></div>

    <!-- Main content -->
    <main class="main-content">
        <!-- Per assicurarti che il testo HTML venga interpretato correttamente quando viene inviato via email,
            devi usare th:utext anziché th:text nella tua email template -->
        <div th:utext="${contenutoEmail}" style="font-size: 16px;"></div>
    </main>



    <!-- Footer -->
    <div th:replace="~{fragments/templateBaseEmail :: footer}"></div>

</div>
</body>
</html>
