<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/templateBase :: common_head_title_meta(~{::title},~{::meta})}">
    <title th:fragment="title">Luna Sapiens | Pagina di errore</title>
    <th:block th:fragment="meta">
        <meta name="robots" content="noindex, nofollow">
    </th:block>
</head>

<body>
<header th:replace="~{fragments/templateBase :: header}"></header>
<div class="container mt-4 mb-5">

    <h2>Pagina di Errore</h2>

    <div th:replace="~{fragments/templateBase :: message_alerts}"></div>

    <!-- Aggiungi un link per tornare alla pagina index -->
    <a href="/">Torna alla pagina iniziale</a>

</div>
<footer th:replace="~{fragments/templateBase :: footer}"></footer>
<div th:replace="~{fragments/templateBase :: link-js-util-bootstrap}"></div>
</body>
</html>