<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/templateBase :: common_head_title(~{::title}) }">
    <title>LunaSapiens - Home Page</title>
</head>
<body>
<header th:replace="~{fragments/templateBase :: header}"></header>

<!-- Page Content-->
<div class="container mt-5">

    <!-- Highlight Section -->
    <div class="px-lg-5 my-5">
        <div class="highlight-section text-center p-5 bg-light shadow rounded">
            <h1 class="font-weight-light display-4 mb-4">LunaSapiens.com</h1>
            <p class="lead">Scopri un nuovo modo di esplorare l'astrologia basato su reali fattori astronomici e astrologici. Utilizziamo tecniche di
                intelligenza artificiale per offrirti un'esperienza unica nel comprendere le influenze celesti sulla tua vita.</p>
        </div>
    </div>

    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-6 mb-5">
            <div class="card h-100 p-5 bg-light shadow rounded">
                <div class="card-body text-center">
                    <h4 class="card-title">Il Tuo Oroscopo Giornaliero</h4>
                    <p class="card-text">Scopri il tuo oroscopo giornaliero, generato con intelligenza artificiale! La nostra IA analizza le reali posizioni dei corpi celesti, inclusi pianeti, transiti e aspetti. I corpi celesti sono orientati verso l'Italia alle ore 12 di oggi.</p>
                </div>
                <a class="btn btn-primary mt-3" href="/oroscopo">Consulta il tuo oroscopo personalizzato</a>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card h-100 p-5 bg-light shadow rounded">
                <div class="card-body text-center">
                    <h4 class="card-title">Scopri il Tuo Tema Natale (in progress...)</h4>
                    <p class="card-text">Inserisci la tua data e luogo di nascita per generare il tuo tema natale. La nostra IA utilizzerà queste informazioni per rispondere alle tue domande e guidarti nella scoperta del tuo percorso astrologico. Esplora i misteri delle stelle e scopri cosa ti riservano!</p>
                </div>
                <a class="btn btn-primary mt-3" href="/tema-natale">Calcola il tuo profilo astrologico</a>
            </div>
        </div>
    </div>

</div>

<footer th:replace="~{fragments/templateBase :: footer}"></footer>
<div th:replace="~{fragments/templateBase :: link-js-util-bootstrap-jquery}"></div>
</body>
</html>
