<!DOCTYPE html>
<html lang="it">
<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XGFTKCH8TD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-XGFTKCH8TD');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrologia Celeste</title>
    <link rel="stylesheet" href="style.css"> <!-- Includi il tuo foglio di stile CSS personalizzato -->
</head>
<body>
<header>
    <h1>Benvenuti su Astrologia Celeste</h1>
    <p>Esplora l'influenza delle stelle sulla tua vita e il tuo destino.</p>
</header>

<main>

    <section class="horoscope-section">
        <h2>Consulta l'Oroscopo del Giorno</h2>
        <p>Oroscopo a schedulazione giornaliera generato con intelligenza artificiale. La IA riceve in input le reali posizioni dei
            corpi celesti più altri dettagli di tipo astronomico e astrologico.
            Le posizione dei corpi celesti sono orientate verso l'Italia alle ore 12 del giorno odierno.</p>
        <a href="/oroscopo" class="button">vai all'orosocpo!</a>
    </section>

    <section class="horoscope-section">
        <h2>Scopri il tuo Segno Zodiacale (in progress...)</h2>
        <p>Esplora il mondo dell'astrologia e scopri come le stelle influenzano la tua personalità, il tuo amore e il tuo futuro.</p>
    </section>

    <section class="astrologer-section">
        <h2>Il Nostro Astrologo Esperto (in progress...)</h2>
        <p>Consultate il nostro astrologo esperto per un'analisi personalizzata del vostro segno zodiacale e del vostro futuro.</p>
    </section>

    <section class="center-image">
        <img src="/static/logo_1024x1024.png" alt="Luna Sapiens Logo" width="30%" height="30%">
    </section>
</main>


<footer>
    <p>&copy; 2023 Astrologia Celeste | <a href="info-privacy">Informativa sulla Privacy</a> | <a href="termini-di-servizio">Termini di Servizio</a> | <a href="/genera-video">genera-video</a></p>
</footer>

</body>
</html>
