<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{ templateBase :: common_head_title( 'LunaSapiens - Home Page') }">

</head>

<body>
<header th:replace="~{templateBase :: header}"></header>

<div class="content">
    <div class="intro text-center">
        <h1 class="display-4">Benvenuti in Luna Sapiens</h1>
        <p class="lead">Esplora l'influenza delle stelle sulla tua vita e il tuo destino.</p>
    </div>
    <div class="intro-divider"></div>

    <div class="row align-items-stretch">
        <div class="col-md-6 d-flex flex-column">
            <h2 class="text-center">Consulta l'Oroscopo del Giorno</h2>
            <p>Oroscopo a schedulazione giornaliera generato con intelligenza artificiale. La IA riceve in input le reali
                posizioni dei corpi celesti più altri dettagli di tipo astronomico e astrologico. Le posizioni dei corpi
                celesti sono orientate verso l'Italia alle ore 12 del giorno odierno.</p>
            <a href="/oroscopo" class="btn btn-primary btn-lg mx-auto mt-auto">Vai all'Oroscopo!</a>
        </div>

        <div class="col-md-6 d-flex flex-column">
            <h2 class="text-center">Creazione del Tema Natale (in progress...)</h2>
            <p>Esplora il mondo dell'astrologia e scopri come le stelle influenzano la tua personalità, il tuo amore e il tuo futuro.</p>
            <a href="/tema-natale" class="btn btn-primary btn-lg mx-auto mt-auto">Vai al Tema Natale</a>
        </div>
    </div>

</div>



<div th:replace="~{templateBase :: links-bootstrap-js}"></div>
<footer th:replace="~{templateBase :: footer}"></footer>
</body>
</html>
