<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/templateBase :: common_head_title_meta(~{::title},~{::meta}) }">
    <title th:fragment="title">Luna Sapiens | Informativa sulla Privacy</title>
    <th:block th:fragment="meta">
    <meta name="robots" content="noindex, nofollow">
    </th:block>
</head>

<body>
<header th:replace="~{fragments/templateBase :: header}"></header>
<div class="container mt-4 px-4 px-lg-5">

    <section>
        <h2>Raccolta delle Informazioni</h2>
        <p>Raccogliamo informazioni personali solo quando le fornisci volontariamente attraverso il nostro sito (https://www.lunasapiens.com). Utilizziamo queste informazioni per scopi specifici e in conformità con questa Informativa sulla Privacy. Se non acconsenti, ti preghiamo di non utilizzare il nostro servizio.</p>
    </section>

    <section>
        <h2>Modifiche alla Privacy</h2>
        <p>Questa Informativa sulla Privacy può essere aggiornata senza preavviso. Le modifiche saranno effettive 180 giorni dopo la pubblicazione. Ti invitiamo a controllare periodicamente questa pagina.</p>
    </section>

    <ol class="privacy-policy-ol">
        <li>
            <h2>I Tuoi Diritti</h2>
            <p>Hai il diritto di accedere, rettificare o cancellare i tuoi dati personali, oltre a limitare o opporre il trattamento dei tuoi dati. Puoi anche richiedere di trasferire i tuoi dati ad altra entità o revocare il consenso. Per esercitare questi diritti, contattaci a matteo.manili@gmail.com. La mancata concessione o revoca del consenso potrebbe limitare l'accesso ai nostri servizi.</p>
        </li>
        <li>
            <h2>Cookie</h2>
            <p>Per informazioni su come utilizziamo i cookie e le tue opzioni, consulta la nostra <a href="https://www.lunasapiens.com">Cookie Policy</a>.</p>
        </li>
        <li>
            <h2>Sicurezza</h2>
            <p>Adottiamo misure di sicurezza ragionevoli per proteggere le tue informazioni, ma non possiamo garantire una sicurezza assoluta. L'uso del sito avviene a tuo rischio.</p>
        </li>
        <li>
            <h2>Reclami e Contatti</h2>
            <p>Per domande o reclami sul trattamento dei tuoi dati, visita la nostra <a href="/contatti">pagina di contatto</a>.</p>
        </li>
    </ol>
</div>





<footer th:replace="~{fragments/templateBase :: footer}"></footer>
<div th:replace="~{fragments/templateBase :: link-js-util-bootstrap-jquery}"></div>
</body>
</html>
