<!DOCTYPE html>
<html lang="it">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XGFTKCH8TD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-XGFTKCH8TD');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oroscopo</title>

    <link rel="stylesheet" href="styleOroscopo.css">
</head>
<body>

<div class="container">

    <h3><a href="/" class="button">Home page</a></h3>

    <!-- Sezione Iscrizione -->
    <div class="subscribe-section" style="background-color: #f0f0f0; padding: 15px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 20px;">
        <h3 style="margin-bottom: 10px;">Iscriviti per Ricevere l'Oroscopo del Giorno via email da LunaSapiens</h3>
        <p style="font-size: 14px; margin-bottom: 15px;">Inserisci il tuo indirizzo email per ricevere l'oroscopo del giorno direttamente nella tua casella di posta.</p>

        <form id="subscribe-form" action="/subscribe" method="post" style="margin-bottom: 0;">
            <input type="email" id="email" name="email" required style="width: 200px; padding: 8px; font-size: 14px; border: 1px solid #ccc; border-radius: 3px; margin-bottom: 10px;">
            <button type="submit" id="subscribe-button" style="background-color: #4CAF50; color: white; cursor: pointer; transition: background-color 0.3s ease; padding: 8px; font-size: 14px; border: none; border-radius: 3px;">Registra Email</button>
        </form>

        <!-- Mostra il messaggio di infoSubscription -->
        <div th:if="${infoSubscription != null and infoSubscription != ''}" class="info-message" style="color: green; font-weight: bold; margin-top: 10px;">
            <p th:text="${infoSubscription}"></p>
        </div>
    </div>



    <h2>Oroscopo del Giorno</h2>

    <!-- Mostra la descrizione dell'oroscopo del giorno -->
    <h4 th:utext="${oroscopoDelGiornoDescrizioneOggi}" style="font-size: larger;"></h4>

    <!-- Utilizza un elenco per visualizzare i video -->
    <ul>
        <!-- Itera attraverso la lista dei video e visualizzali -->
        <div th:each="video : ${videos}">
            <li>
                <!-- Visualizza il nome del segno zodiacale in grassetto -->
                <h2 th:text="${video.nomeSegnoZodiacale}" style="font-weight: bold;"></h2>

                <!-- Visualizza la descrizione del testo dell'oroscopo -->
                <p th:utext="${video.testoOroscopoRifinito}" style="font-size: larger;"></p>

                <!-- Visualizza il video -->
                <video width="100%" height="auto" controls>
                    <source th:src="@{'/oroscopo-giornaliero/' + ${video.nomeFileVideo}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>


            </li>
        </div>
    </ul>
</div>

</body>
</html>
