<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/templateBase :: common_head_title_meta_links_scripts(~{::title},~{::meta},~{::links},~{::scripts})}">
    <title th:fragment="title">Luna Sapiens | Oroscopo del Giorno</title>
    <th:block th:fragment="meta">
        <meta name="description" content="Scopri l'oroscopo del giorno su LunaSapiens.com! Leggi le previsioni astrologiche dettagliate per tutti i segni zodiacali e analizza i transiti planetari e gli aspetti celesti che influenzano la tua giornata. Iscriviti per ricevere l'oroscopo del giorno direttamente nella tua email e rimani aggiornato sulle influenze astrali quotidiane.">
        <meta name="keywords" content="oroscopo del giorno, previsioni astrologiche, astrologia giornaliera, Ariete, Toro, Gemelli, Cancro, Leone, Vergine, Bilancia, Scorpione, Sagittario, Capricorno, Acquario, Pesci, transiti planetari, aspetti celesti, oroscopo via email">
        <meta property="og:title" content="Oroscopo del Giorno" />
        <meta property="og:description" content="Scopri l'oroscopo del giorno su LunaSapiens.com! Leggi le previsioni astrologiche dettagliate per tutti i segni zodiacali e analizza i transiti planetari e gli aspetti celesti che influenzano la tua giornata." />
        <meta property="og:image" content="/moon_icon.ico" />
        <meta property="og:image:type" content="image/x-icon" />
        <meta property="og:image:width" content="64" />
        <meta property="og:image:height" content="64" />
        <meta property="og:url" content="https://www.lunasapiens.com/oroscopo" />
        <meta property="og:type" content="website" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Oroscopo del Giorno" />
        <meta name="twitter:description" content="Scopri l'oroscopo del giorno su LunaSapiens.com! Leggi le previsioni astrologiche dettagliate per tutti i segni zodiacali e analizza i transiti planetari e gli aspetti celesti che influenzano la tua giornata." />
        <meta name="twitter:image" content="/moon_icon.ico" />
    </th:block>
    <th:block th:fragment="links">
        <link rel="canonical" href="https://www.lunasapiens.com/oroscopo" />
        <link rel="stylesheet" href="/css/style.css">
    </th:block>
    <th:block th:fragment="scripts">
        <script type="application/ld+json" th:utext="${jsonSchemaOrgTransitiDelGiorno}"></script>
    </th:block>
</head>
<body>
<header th:replace="~{fragments/templateBase :: header}"></header>

<div class="container mt-4">
    <div th:replace="~{fragments/templateBase :: message_alerts}"></div>
    <div class="bg-light rounded-3 text-center shadow-sm mb-4 mt-4 pt-3">
        <h5 class="mb-4">Iscriviti per Ricevere l'Oroscopo del Giorno via email</h5>
        <p>Inserisci il tuo indirizzo email per ricevere l'oroscopo del giorno direttamente nella tua casella di posta.</p>
        <form id="subscribe-form" th:action="@{/subscribe-orosc-giorn}" method="post" class="row g-2 justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 mb-3">
                <input type="email" id="email" name="email" class="form-control" placeholder="Indirizzo Email" aria-label="Indirizzo Email" required>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <button type="submit" id="subscribe-button" class="btn btn-primary w-100" onclick="showLoadingOverlay()">Iscrivi Email</button>
            </div>
        </form>
    </div>

    <h1 class="mb-4">Oroscopo del giorno <span th:utext="${oroscDelGiornDescDTO.giornoOraPosizioneDTO.getGiornoMeseAnnoFormattato}"></span></h1>

    <div class="alert alert-info " role="alert">
        La nostra IA viene istruita con dati di carattere astronomico e regole astrologiche per generare l'oroscopo del giorno.<br>
        I corpi celesti sono orientati verso l'Italia alle ore 12 di oggi.<br>
        Utilizziamo il sistema di effemeridi <a href="https://www.astro.com/swisseph/swephinfo_e.htm">Swiss Ephemeris</a> (tabelle che mostrano le posizioni
        ad alta precisione dei corpi celesti) per determinare i transiti.
    </div>

    <div class="mb-4">
        <p th:utext="${oroscDelGiornDescDTO.descrizioneOroscopoDelGiorno}" class="lead"></p>
    </div>

    <div th:each="oroscGiornoIte : ${listOroscopoGiornoDTO}" class="mb-5">
        <h2 class="mb-3 text-primary"><strong th:text="${oroscGiornoIte.nomeSegnoZodiacale}"></strong></h2>
        <p th:utext="${oroscGiornoIte.testoOroscopoRifinito}"></p>
        <div class="video-container mb-3 ratio ratio-16x9">
            <video class="w-100" controls loading="lazy">
                <source th:src="@{'/video-oroscopo-giornaliero/' + ${oroscGiornoIte.nomeFileVideo}}" type="video/mp4">
                Il tuo browser non supporta il tag video.
            </video>
        </div>
    </div>
</div>

<div th:replace="~{fragments/templateBase :: loadingOverlay}"></div>
<footer th:replace="~{fragments/templateBase :: footer}"></footer>
<div th:replace="~{fragments/templateBase :: link-js-util}"></div>

</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        loadData();

        function loadData() {
            const email = localStorage.getItem('email');
            // Imposta i valori sugli input
            document.getElementById('email').value = email || "";
        }
    });
</script>