<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/templateBase :: common_head_title_meta_links(~{::title},~{::meta},~{::links})}">
    <title th:fragment="title">Luna Sapiens | registrazione utente</title>
    <th:block th:fragment="meta">
        <meta name="description" content="registrazione utenteeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee">
        <meta name="keywords" content="registrazione utenteeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee">
        <meta property="og:title" content="registrazione utenteeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee" />
    </th:block>
    <th:block th:fragment="links">
        <link rel="canonical" href="https://www.lunasapiens.com/register" />
        <link rel="stylesheet" href="/css/style.css">
    </th:block>
</head>
<body>
<header th:replace="~{fragments/templateBase :: header}"></header>
<div class="container mt-4">

    <h1 class="mb-4">PAgina di registreazione</h1>

    <div class="bg-light rounded-3 text-center shadow-sm mb-4 mt-4 pt-3">
        <h5 class="mb-4">Iscriviti per Registrarti a LunaSapiens</h5>
        <p>Registrati per usufruire al meglio i nostri servizi.</p>

         th:object="${contactForm}" method="post" onsubmit="showLoadingOverlay()"

        <form id="subscribe-form" th:action="@{/registrazioneSubmit}" method="post" class="row g-2 justify-content-center" onsubmit="showLoadingOverlay()">
            <div class="col-12 col-md-8 col-lg-6 mb-3">
                <input type="email" id="email" name="email" class="form-control" placeholder="Indirizzo Email" aria-label="Indirizzo Email" value="sasasas@sss.ss" required>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <button type="submit" id="subscribe-button" class="btn btn-primary w-100">Registra Utente</button>
            </div>
        </form>
        <div th:if="${infoMessage != null and infoMessage != ''}" class="alert alert-success mt-3" role="alert">
            <p th:text="${infoMessage}"></p>
        </div>
    </div>


    <div class="alert alert-info " role="alert">
        informazioni varie ecc ecc
    </div>




</div>

<div th:replace="~{fragments/templateBase :: loadingOverlay}"></div>
<footer th:replace="~{fragments/templateBase :: footer}"></footer>
<div th:replace="~{fragments/templateBase :: link-js-util-bootstrap-jquery}"></div>
</body>
</html>
