<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/templateBase :: common_head_title_meta_links_scripts(~{::title},~{::meta},~{::links},~{::scripts})}">
    <title th:fragment="title">Luna Sapiens | Sinastria IA</title>
    <th:block th:fragment="meta">
        <meta name="description" content="Sinastria IA - Genera una sinastria astrologica personalizzata utilizzando l'intelligenza artificiale. Analizza le compatibilità tra due temi natali e ottieni approfondimenti dettagliati.">
        <meta name="keywords" content="sinastria, astrologia, compatibilità, temi natali, intelligenza artificiale, oroscopo, astrologia delle relazioni">
        <meta property="og:title" content="Luna Sapiens | Sinastria IA" />
        <meta property="og:description" content="Scopri la tua sinastria astrologica con Sinastria IA. Approfondisci la compatibilità tra due persone attraverso un'analisi dettagliata dei loro temi natali." />
        <meta property="og:image" content="/moon_icon.ico" />
        <meta property="og:image:type" content="image/x-icon" />
        <meta property="og:image:width" content="64" />
        <meta property="og:image:height" content="64" />
        <meta property="og:url" content="https://www.lunasapiens.com/sinastria" />
        <meta property="og:type" content="website" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Sinastria IA" />
        <meta name="twitter:description" content="Genera una sinastria personalizzata con l'IA. Ottieni analisi dettagliate sulla compatibilità astrologica tra due persone." />
        <meta name="twitter:image" content="/moon_icon.ico" />
    </th:block>
    <th:block th:fragment="links">
        <link rel="canonical" href="https://www.lunasapiens.com/sinastria" />
        <link rel="stylesheet" href="/css/style.css?v=2.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    </th:block>
    <th:block th:fragment="scripts">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    </th:block>
</head>
<body>
<header th:replace="~{fragments/templateBase :: header}"></header>
<div class="container mt-4">



    <div class="container my-4 p-3 shadow-lg rounded bg-light">
        <h1 class="display-4  mb-3 text-center">Sinastria IA</h1>
        <p class="fs-4 text-center mb-2">Dopo aver generato la Sinastria, utilizza la Chat IA per porre domande e approfondire i significati.
            Scorrendo in basso troverai una descrizione dettagliata dei 2 Temi Natale.</p>


<!--
        <div class="alert alert-info " role="alert">
            Per motivi tecnici sospendiamo temporaneamente la funzione Sinastra IA.
        </div> -->


        <form id="sinastria-submit" th:action="@{/sinastriaSubmit}" method="GET" class="p-4 border rounded">

            <div class="row">
                <div class="col-md-12 mb-2">
                    <label for="relationship" class="form-label">Tipo di relazione:</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-link"></i></span>
                        <select id="relationship" name="relationship" class="form-control" required>
                            <option th:each="option, iterStat : ${relationshipOptions}"
                                    th:value="${option.code}" th:text="${option.description}" th:selected="${iterStat.index == 0}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6 ">
                    <div class="mb-2">
                        <label for="nome" class="form-label">Nome:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-file-person"></i></span>
                            <input type="text" id="nome" name="nome" class="form-control" th:value="${nome}" required>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="dateTime" class="form-label">Data e ora di nascita:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                            <input type="datetime-local" id="dateTime" name="dateTime" class="form-control" th:value="${dateTime}">
                        </div>
                        <div id="dateTimeError" class="text-danger mt-2" style="display: none;">Per favore inserisci una data e ora di nascita.</div>
                    </div>
                    <div class="mb-2">
                        <label for="cityInput" class="form-label">Località di nascita:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-geo-alt"></i></span>
                            <input type="text" id="cityInput" name="cityInput" class="form-control" th:value="${cityInput}">
                        </div>
                        <input type="hidden" id="cityName" name="cityName" th:value="${cityName}">
                        <input type="hidden" id="regioneName" name="regioneName" th:value="${regioneName}">
                        <input type="hidden" id="statoName" name="statoName" th:value="${statoName}">
                        <input type="hidden" id="statoCode" name="statoCode" th:value="${statoCode}">
                        <input type="hidden" id="cityLat" name="cityLat" th:value="${cityLat}">
                        <input type="hidden" id="cityLng" name="cityLng" th:value="${cityLng}">
                        <div id="cityError" class="text-danger mt-2" style="display: none;">Per favore inserisci il nome di una località.</div>
                        <div id="autocomplete-results" class="autocomplete-results mt-2"></div>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="mb-2">
                        <label for="nome_2" class="form-label">Nome:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-file-person"></i></span>
                            <input type="text" id="nome_2" name="nome_2" class="form-control" th:value="${nome_2}" required>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="dateTime_2" class="form-label">Data e ora di nascita:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                            <input type="datetime-local" id="dateTime_2" name="dateTime_2" class="form-control" th:value="${dateTime_2}">
                        </div>
                        <div id="dateTimeError_2" class="text-danger mt-2" style="display: none;">Per favore inserisci una data e ora di nascita.</div>
                    </div>
                    <div class="mb-2">
                        <label for="cityInput_2" class="form-label">Località di nascita:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-geo-alt"></i></span>
                            <input type="text" id="cityInput_2" name="cityInput_2" class="form-control" th:value="${cityInput_2}">
                        </div>
                        <input type="hidden" id="cityName_2" name="cityName_2" th:value="${cityName_2}">
                        <input type="hidden" id="regioneName_2" name="regioneName_2" th:value="${regioneName_2}">
                        <input type="hidden" id="statoName_2" name="statoName_2" th:value="${statoName_2}">
                        <input type="hidden" id="statoCode_2" name="statoCode_2" th:value="${statoCode_2}">
                        <input type="hidden" id="cityLat_2" name="cityLat_2" th:value="${cityLat_2}">
                        <input type="hidden" id="cityLng_2" name="cityLng_2" th:value="${cityLng_2}">
                        <div id="cityError_2" class="text-danger mt-2" style="display: none;">Per favore inserisci il nome di una località.</div>
                        <div id="autocomplete-results_2" class="autocomplete-results mt-2"></div>
                    </div>

                </div>
            </div>


            <div class="text-center">
                <button type="submit" id="submitBtn" class="btn btn-primary btn-lg px-5">Genera Sinastria</button>
            </div>
        </form>



    </div>




    <!-- #################################### Chat-Box IA #################################### -->
    <input type="hidden" id="sinastriaDescrizione" name="sinastriaDescrizione" th:value="${sinastriaDescrizione}">
    <input type="hidden" id="paginaChatId" name="paginaChatId" th:value="${paginaChatId}">
    <input type="hidden" id="userSessionId" name="userSessionId" th:value="${userSessionId}">

    <div th:if="${sinastriaDescrizione != null and !sinastriaDescrizione.isEmpty()}" class="mb-5">

        <h7 class="mb-3"><b>Chat IA - Domanda all'Astrologo</b></h7>
        <div class="chat-container mb-5">
            <div class="chat-box bg-light p-3 border rounded" style="height: 400px; overflow-y: scroll;">
                <div id="chat-messages" class="d-flex flex-column"></div>
                <div id="loading-indicator" class="hidden-text">Attendere, per favore...</div>
            </div>
            <div class="input-group mt-3">
                <input type="text" id="userMessage" class="form-control" placeholder="Scrivi una domanda...">
                <button id="sendMessage" class="btn btn-primary">Invia</button>
            </div>
        </div>



        <!-- descrizione Sinastria -->
        <div class="d-flex align-items-center">
            <h6 class="mb-0 me-2">Descrizione Sinastria</h6>
            <h7 class="mb-0">
                <a id="toggleLink" href="#" class="link-primary">Visualizza descrizione Sinastria</a>
            </h7>
        </div>


        <div id="textSection" class="d-none mt-3">
            <p><b>Nome: </b><span th:text="${nome}"></span> <b>Data di nascita:</b> <span th:text="${dataOraNascita}"></span> <b>Luogo:</b> <span th:text="${luogoNascita}"></span></p>
            <p><b>Nome: </b><span th:text="${nome_2}"></span> <b>Data di nascita:</b> <span th:text="${dataOraNascita_2}"></span> <b>Luogo:</b> <span th:text="${luogoNascita_2}"></span></p>
            <p th:utext="${sinastriaDescrizione}"></p>
        </div>


    </div>
</div>


<div th:replace="~{fragments/templateBase :: loadingOverlay}"></div>
<footer th:replace="~{fragments/templateBase :: footer}"></footer>
<div th:replace="~{fragments/templateBase :: link-js-util-bootstrap-jquery}"></div>

<script>



$(document).ready(function() {


    // ############################# VALIDAZIONE SINASTRIA SUBMIT #############################

    $("#sinastria-submit").submit(function(event) {
        var isValid = true; // Se il modulo è valido, mostra l'overlay e consenti l'invio

        if ($("#cityName").val().trim() === "" || $("#cityLat").val().trim() === "" || $("#cityLng").val().trim() === "") {
            $("#cityError").show(); // Mostra il messaggio di errore
            $("#cityInput").addClass("is-invalid"); // Aggiungi classe per evidenziare il campo
            isValid = false;
        } else {
            $("#cityError").hide(); // Nascondi il messaggio di errore se il campo è compilato
            $("#cityInput").removeClass("is-invalid"); // Rimuovi classe di errore se presente
        }
        if ($("#dateTime").val().trim() === "") {
            $("#dateTimeError").show(); // Mostra il messaggio di errore
            $("#dateTime").addClass("is-invalid"); // Aggiungi classe per evidenziare il campo
            isValid = false;
        } else {
            $("#dateTimeError").hide(); // Nascondi il messaggio di errore se il campo è compilato
            $("#dateTime").removeClass("is-invalid"); // Rimuovi classe di errore se presente
        }


        if ($("#cityName_2").val().trim() === "" || $("#cityLat_2").val().trim() === "" || $("#cityLng_2").val().trim() === "") {
            $("#cityError_2").show(); // Mostra il messaggio di errore
            $("#cityInput_2").addClass("is-invalid"); // Aggiungi classe per evidenziare il campo
            isValid = false;
        } else {
            $("#cityError_2").hide(); // Nascondi il messaggio di errore se il campo è compilato
            $("#cityInput_2").removeClass("is-invalid"); // Rimuovi classe di errore se presente
        }
        if ($("#dateTime_2").val().trim() === "") {
            $("#dateTimeError_2").show(); // Mostra il messaggio di errore
            $("#dateTime_2").addClass("is-invalid"); // Aggiungi classe per evidenziare il campo
            isValid = false;
        } else {
            $("#dateTimeError_2").hide(); // Nascondi il messaggio di errore se il campo è compilato
            $("#dateTime_2").removeClass("is-invalid"); // Rimuovi classe di errore se presente
        }

        if (isValid) {
            showLoadingOverlay(); // Chiamata alla funzione per mostrare l'overlay
            googleTrackFormSubmitSinastria();
        } else {
            event.preventDefault(); // Previeni l'invio del modulo se non è valido
        }
    });
});

document.addEventListener("DOMContentLoaded", function() {

    // ############################# START PAGINA #############################
    loadData();

    function loadData() {
        const relationship = localStorage.getItem('relationship');
        document.getElementById('relationship').value = relationship || "";
        const dateTimeLocalStorage = localStorage.getItem('dateTime');
        if( dateTimeLocalStorage !== null && dateTimeLocalStorage.trim() !== '' ){ //altrimenti prende la data di default da controller 01/01/1980
            document.getElementById('dateTime').value = dateTimeLocalStorage;
        }
        const dateTimeLocalStorage_2 = localStorage.getItem('dateTime_2"');
        if( dateTimeLocalStorage_2 !== null && dateTimeLocalStorage_2.trim() !== '' ){ //altrimenti prende la data di default da controller 01/01/1980
            document.getElementById('dateTime_2').value = dateTimeLocalStorage_2;
        }
        const cityInput = localStorage.getItem('cityInput');
        const cityName = localStorage.getItem('cityName');
        const regioneName = localStorage.getItem('regioneName');
        const statoName = localStorage.getItem('statoName');
        const statoCode = localStorage.getItem('statoCode');
        const cityLat = localStorage.getItem('cityLat');
        const cityLng = localStorage.getItem('cityLng');
        const nome = localStorage.getItem('nome');

        const cityInput_2 = localStorage.getItem('cityInput_2');
        const cityName_2 = localStorage.getItem('cityName_2');
        const regioneName_2 = localStorage.getItem('regioneName_2');
        const statoName_2 = localStorage.getItem('statoName_2');
        const statoCode_2 = localStorage.getItem('statoCode_2');
        const cityLat_2 = localStorage.getItem('cityLat_2');
        const cityLng_2 = localStorage.getItem('cityLng_2');
        const nome_2 = localStorage.getItem('nome_2');

        // Imposta i valori sugli input
        document.getElementById('cityInput').value = cityInput || "";
        document.getElementById('cityName').value = cityName || "";
        document.getElementById('regioneName').value = regioneName || "";
        document.getElementById('statoName').value = statoName || "";
        document.getElementById('statoCode').value = statoCode || "";
        document.getElementById('cityLat').value = cityLat || "";
        document.getElementById('cityLng').value = cityLng || "";
        document.getElementById('nome').value = nome || "";

        document.getElementById('cityInput_2').value = cityInput_2 || "";
        document.getElementById('cityName_2').value = cityName_2 || "";
        document.getElementById('regioneName_2').value = regioneName_2 || "";
        document.getElementById('statoName_2').value = statoName_2 || "";
        document.getElementById('statoCode_2').value = statoCode_2 || "";
        document.getElementById('cityLat_2').value = cityLat_2 || "";
        document.getElementById('cityLng_2').value = cityLng_2 || "";
        document.getElementById('nome_2').value = nome_2 || "";
    }


    // quando si modifica la data la si mette nello storage
    document.getElementById('relationship').addEventListener('change', function() {
        const relationship = document.getElementById('relationship').value;
        localStorage.setItem('relationship', relationship);
    });
    document.getElementById('dateTime').addEventListener('change', function() {
        const dateTimeValue = document.getElementById('dateTime').value;
        localStorage.setItem('dateTime', dateTimeValue);
    });
    document.getElementById('dateTime_2').addEventListener('change', function() {
        const dateTimeValue_2 = document.getElementById('dateTime_2').value;
        localStorage.setItem('dateTime_2', dateTimeValue_2);
    });
    document.getElementById('nome').addEventListener('change', function() {
        const nome = document.getElementById('nome').value;
        localStorage.setItem('nome', nome);
    });
    document.getElementById('nome_2').addEventListener('change', function() {
        const nome_2 = document.getElementById('nome_2').value;
        localStorage.setItem('nome_2', nome_2);
    });


    // ############################# AUTOCOMPLETE CITY-INPUT #############################
    let timeout = null;
    const delay = 300; // Ritardo in millisecondi

    // ################ autocomplete input 1 ################
    const input = document.getElementById('cityInput');
    const resultsContainer = document.getElementById('autocomplete-results');
    input.addEventListener('input', function() {
        clearTimeout(timeout); // Pulisce il timeout precedente se esiste
        const query = input.value.trim();
        if (query.length < 3) {
            resultsContainer.innerHTML = '';
            return;
        }
        timeout = setTimeout(() => {
            fetch(`/coordinate?cityName=${encodeURIComponent(query)}`)
                .then(response => response.json())
                .then(data => {
                    resultsContainer.innerHTML = '';
                    data.forEach(item => {
                        const resultDiv = document.createElement('div');
                        resultDiv.textContent = `${item.name}, ${item.adminName1}, ${item.countryName}`;
                        resultDiv.dataset.value = item.name;
                        resultDiv.dataset.regioneName = item.adminName1;
                        resultDiv.dataset.statoName = item.countryName;
                        resultDiv.dataset.statoCode = item.countryCode;
                        resultDiv.dataset.lat = item.lat;
                        resultDiv.dataset.lng = item.lng;

                        resultDiv.addEventListener('click', function() {
                            input.value = `${item.name}, ${item.adminName1}, ${item.countryName}`;
                            document.getElementById('cityName').value = item.name;
                            document.getElementById('regioneName').value = item.adminName1;
                            document.getElementById('statoName').value = item.countryName;
                            document.getElementById('statoCode').value = item.countryCode;
                            document.getElementById('cityLat').value = item.lat;
                            document.getElementById('cityLng').value = item.lng;
                            // metto i campi nello storage
                            localStorage.setItem('cityInput', `${item.name}, ${item.adminName1}, ${item.countryName}`);
                            localStorage.setItem('cityName', item.name);
                            localStorage.setItem('regioneName', item.adminName1);
                            localStorage.setItem('statoName', item.countryName);
                            localStorage.setItem('statoCode', item.countryCode);
                            localStorage.setItem('cityLat', item.lat);
                            localStorage.setItem('cityLng', item.lng);
                            resultsContainer.innerHTML = '';
                        });
                        resultsContainer.appendChild(resultDiv);
                    });

                    if (data.length === 0) {
                        const noResultDiv = document.createElement('div');
                        noResultDiv.textContent = 'Nessun risultato trovato';
                        resultsContainer.appendChild(noResultDiv);
                    }
                })
                .catch(error => console.error('Errore:', error));
        }, delay); // Ritardo prima di inviare la richiesta
    });

    document.addEventListener('click', function(event) {
        if (!resultsContainer.contains(event.target) && event.target !== input) {
            resultsContainer.innerHTML = '';
        }
    });

    // ################ autocomplete input 2 ################
    const input_2 = document.getElementById('cityInput_2');
    const resultsContainer_2 = document.getElementById('autocomplete-results_2');

    input_2.addEventListener('input', function() {
        clearTimeout(timeout); // Pulisce il timeout precedente se esiste
        const query = input_2.value.trim();
        if (query.length < 3) {
            resultsContainer_2.innerHTML = '';
            return;
        }
        timeout = setTimeout(() => {
            fetch(`/coordinate?cityName=${encodeURIComponent(query)}`)
                .then(response => response.json())
                .then(data => {
                    resultsContainer_2.innerHTML = '';
                    data.forEach(item => {
                        const resultDiv = document.createElement('div');
                        resultDiv.textContent = `${item.name}, ${item.adminName1}, ${item.countryName}`;
                        resultDiv.dataset.value = item.name;
                        resultDiv.dataset.regioneName = item.adminName1;
                        resultDiv.dataset.statoName = item.countryName;
                        resultDiv.dataset.statoCode = item.countryCode;
                        resultDiv.dataset.lat = item.lat;
                        resultDiv.dataset.lng = item.lng;

                        resultDiv.addEventListener('click', function() {
                            input_2.value = `${item.name}, ${item.adminName1}, ${item.countryName}`;
                            document.getElementById('cityName_2').value = item.name;
                            document.getElementById('regioneName_2').value = item.adminName1;
                            document.getElementById('statoName_2').value = item.countryName;
                            document.getElementById('statoCode_2').value = item.countryCode;
                            document.getElementById('cityLat_2').value = item.lat;
                            document.getElementById('cityLng_2').value = item.lng;

                            // Metto i campi nello storage
                            localStorage.setItem('cityInput_2', `${item.name}, ${item.adminName1}, ${item.countryName}`);
                            localStorage.setItem('cityName_2', item.name);
                            localStorage.setItem('regioneName_2', item.adminName1);
                            localStorage.setItem('statoName_2', item.countryName);
                            localStorage.setItem('statoCode_2', item.countryCode);
                            localStorage.setItem('cityLat_2', item.lat);
                            localStorage.setItem('cityLng_2', item.lng);
                            resultsContainer_2.innerHTML = '';
                        });
                        resultsContainer_2.appendChild(resultDiv);
                    });

                    if (data.length === 0) {
                        const noResultDiv = document.createElement('div');
                        noResultDiv.textContent = 'Nessun risultato trovato';
                        resultsContainer_2.appendChild(noResultDiv);
                    }
                })
                .catch(error => console.error('Errore:', error));
        }, delay); // Ritardo prima di inviare la richiesta
    });

    document.addEventListener('click', function(event) {
        if (!resultsContainer_2.contains(event.target) && event.target !== input_2) {
            resultsContainer_2.innerHTML = '';
        }
    });




    // ############################# CODICE CHAT-BOT #############################
    var sinastriaDescrizione = document.getElementById('sinastriaDescrizione').value;
    // Verifica se sinastriaDescrizione non è null o una stringa vuota
    if (sinastriaDescrizione) {
        var socket = new SockJS('/chat-websocket');
        var stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/user/queue/reply', function (messageOutput) {
                console.log('Received message:', messageOutput.body);
                try {
                    var parsedMessage = JSON.parse(messageOutput.body);
                    showMessage(parsedMessage.content, true);
                    hideLoadingIndicator(); // Nascondi l'indicatore quando ricevi un messaggio
                } catch (e) {
                    console.error('Error parsing message:', e);
                    showMessage('Errore nel messaggio ricevuto.', true);
                    hideLoadingIndicator(); // Nascondi l'indicatore in caso di errore
                }
            });
        });

        function showLoadingIndicator() {
            document.getElementById("loading-indicator").classList.remove("hidden-text");
        }
        function hideLoadingIndicator() {
            document.getElementById("loading-indicator").classList.add("hidden-text");
        }

        document.getElementById("sendMessage").addEventListener("click", sendMessage);
        document.getElementById("userMessage").addEventListener("keyup", function (event) {
            if (event.key === "Enter") { sendMessage(); }
        });

        function sendMessage() {
            var message = document.getElementById("userMessage").value;
            var paginaChatId = document.querySelector('input[name="paginaChatId"]').value;
            var userSessionId = document.querySelector('input[name="userSessionId"]').value;
            if (message.trim() !== "") {
                var payload = {
                    content: message,
                    paginaChatId: paginaChatId,
                    userSessionId: userSessionId
                };
                stompClient.send("/app/message", {}, JSON.stringify(payload));
                document.getElementById("userMessage").value = "";
                showMessage(message, false); // Visualizza il messaggio inviato nella chat
                showLoadingIndicator(); // Mostra l'indicatore di caricamento
            } else {
                console.log('Message is empty');
            }
        }


        function showMessage(message, isBotMessage) {
            var chatMessages = document.getElementById("chat-messages");
            var messageElement = document.createElement("div");
            messageElement.className = "chat-message " + (isBotMessage ? "bot-message" : "user-message");

            // interpeta il codice html nel message (perché devo fare vedere i link nel messaggio ma non converte \n in <br>).
            // Gli \n li mette le risposte della IA
            let formattedMessage = message.replace(/\n/g, '<br>'); // // Sostituisci tutti i \n con <br>
            messageElement.innerHTML = formattedMessage; // messageElement.innerText = message; // solo testo


            chatMessages.appendChild(messageElement);
            chatMessages.scrollTop = chatMessages.scrollHeight;
        }

        document.getElementById('toggleLink').addEventListener('click', function(event) {
            event.preventDefault(); // Evita il comportamento di default del link
            var textSection = document.getElementById('textSection');
            if (textSection.classList.contains('d-none')) {
                textSection.classList.remove('d-none');
                this.textContent = 'Nascondi descrizione Sinastria';
            } else {
                textSection.classList.add('d-none');
                this.textContent = 'Visualizza descrizione Sinastria';
            }
        });
    }
});
</script>

</body>
</html>
