<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ templateBase :: common_head_title_links(~{::title},~{::link}) }">
    <title>Tema Natale</title><link rel="stylesheet" href="style.css">
</head>

<body>
<header th:replace="~{templateBase :: header}"></header>

<div class="container mt-5">
    <h1 class="mb-4">Tema Natale</h1>

    <form action="/temaNataleSubmit" method="GET">
        <div class="mb-3">
            <label for="datetime" class="form-label">Data e ora di nascita:</label>
            <input type="datetime-local" id="datetime" name="datetime" class="form-control" th:value="${datetime}">
            <div id="datetimeError" class="text-danger" style="display: none;">Per favore inserisci una data e ora di nascita.</div>
        </div>
        <div class="mb-3">
            <label for="cityInput" class="form-label">Località di nascita:</label>
            <input type="text" id="cityInput" name="cityInput" class="form-control" th:value="${cityInput}">
            <input type="hidden" id="cityName" name="cityName" th:value="${cityName}">
            <input type="hidden" id="regioneName" name="regioneName" th:value="${regioneName}">
            <input type="hidden" id="statoName" name="statoName" th:value="${statoName}">
            <input type="hidden" id="cityLat" name="cityLat" th:value="${cityLat}">
            <input type="hidden" id="cityLng" name="cityLng" th:value="${cityLng}">
            <div id="cityError" class="text-danger" style="display: none;">Per favore inserisci il nome di una località.</div>
        </div>
        <button type="submit" id="submitBtn" class="btn btn-primary">genera tema natale</button>
    </form>

    <hr>

    <!-- Titolo principale e descrizione del tema natale -->
    <div th:if="${temaNataleDescrizione}">
        <h2 class="mb-4">Descrizione Tema natale (dati grezzi non interpretati)</h2>
        <p><b>Datra di nascita:</b> <span th:text="${dataOraNascita}"></span> | <b>Luogo:</b> <span th:text="${luogoNascita}"></span></p>
        <p th:utext="${temaNataleDescrizione}"></p>
    </div>

</div>


<footer th:replace="~{templateBase :: footer}"></footer>
<div th:replace="~{templateBase :: links-bootstrap-js}"></div>

<script>
    $(document).ready(function() {
        // Funzione per controllare lo stato del pulsante di submit
        function checkFormValidity() {
            if ($("#cityName").val().trim() !== "" && $("#datetime").val().trim() !== "") {
                $("#submitBtn").prop("disabled", false);
            } else {
                $("#submitBtn").prop("disabled", true);
            }
        }

        // Abilita/disabilita il pulsante di submit all'inizio
        checkFormValidity();

        $("#cityInput").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "/coordinate",
                    dataType: "json",
                    data: {
                        cityName: request.term
                    },
                    success: function(data) {
                        response($.map(data, function(item) {
                            return {
                                label: item.name + ', ' + item.adminName1 + ', ' + item.countryName + ', ' + item.countryCode,
                                value: item.name,
                                fullLabel: item.name + ', ' + item.adminName1 + ', ' + item.countryName,
                                regioneName: item.adminName1,
                                statoName: item.countryName,
                                lat: item.lat,
                                lng: item.lng
                            };
                        }));
                    }
                });
            },
            minLength: 3,
            select: function(event, ui) {
                $("#cityInput").val(ui.item.fullLabel); // Imposta l'intera label nel campo #city
                $("#cityName").val(ui.item.value); // Imposta solo il nome della città in #cityName
                $("#regioneName").val(ui.item.regioneName);
                $("#statoName").val(ui.item.statoName);
                $("#cityLat").val(ui.item.lat);
                $("#cityLng").val(ui.item.lng);
                checkFormValidity(); // Controlla la validità del modulo
                // Impedisci qualsiasi azione di visualizzazione automatica del nome della città
                event.preventDefault();
            }
        });

        // Validazione dell'invio del modulo
        $("form").submit(function(event) {
            var isValid = true;
            if ($("#cityInput").val().trim() === "") {
                $("#cityError").show(); // Mostra il messaggio di errore
                $("#cityInput").addClass("is-invalid"); // Aggiungi classe per evidenziare il campo
                isValid = false;
            } else {
                $("#cityError").hide(); // Nascondi il messaggio di errore se il campo è compilato
                $("#cityInput").removeClass("is-invalid"); // Rimuovi classe di errore se presente
            }
            if ($("#datetime").val().trim() === "") {
                $("#datetimeError").show(); // Mostra il messaggio di errore
                $("#datetime").addClass("is-invalid"); // Aggiungi classe per evidenziare il campo
                isValid = false;
            } else {
                $("#datetimeError").hide(); // Nascondi il messaggio di errore se il campo è compilato
                $("#datetime").removeClass("is-invalid"); // Rimuovi classe di errore se presente
            }
            if (!isValid) {
                event.preventDefault(); // Previeni l'invio del modulo
            }
        });

        // Controlla la validità del modulo quando l'input cityInput o datetime cambia
        $("#cityInput, #datetime").on("input", checkFormValidity);
    });
</script>

</body>
</html>
