<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ templateBase :: common_head_title_links(~{::title},~{::link}) }">
    <title>Tema Natale</title>
    <link rel="stylesheet" href="style.css">
</head>

<style>
    .ui-autocomplete {
        background-color: #ffffff; /* Cambia il colore di sfondo a tuo piacimento */
        border: 1px solid #ccc; /* Aggiungi un bordo */
        padding: 5px 10px; /* Aggiungi spazio interno per una migliore leggibilità */
        z-index: 1000; /* Assicurati che la tendina sia sopra gli altri elementi */
    }
    .ui-helper-hidden-accessible {
        display: none; /* Nascondi il messaggio dei risultati disponibili */
    }
</style>

<body>
<header th:replace="~{templateBase :: header}"></header>

<div class="container mt-5">


    <form action="/temaNataleSubmit" method="GET">
        <div class="mb-3">
            <label for="datetime" class="form-label">Data e ora di nascita:</label>
            <input type="datetime-local" id="datetime" name="datetime" class="form-control" th:value="${dataOra}"> <!-- Utilizzo di th:value per valorizzare il campo -->
        </div>

        <div class="mb-3">
            <label for="cityInput" class="form-label">Località di nascita:</label>
            <input type="text" id="cityInput" name="cityInput" class="form-control" th:value="${cityInput}">
            <input type="text" id="cityName" name="cityName" th:value="${cityName}">
            <input type="text" id="regioneName" name="regioneName" th:value="${regioneName}">
            <input type="text" id="statoName" name="statoName" th:value="${statoName}">
            <input type="text" id="cityLat" name="cityLat" th:value="${cityLat}">
            <input type="text" id="cityLng" name="cityLng" th:value="${cityLng}">
            <div id="cityError" class="text-danger" style="display: none;">Per favore inserisci il nome di una località.</div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>



<footer th:replace="~{templateBase :: footer}"></footer>
<div th:replace="~{templateBase :: links-bootstrap-js}"></div>

<script>

    $(document).ready(function() {
        $("#cityInput").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "/coordinate",
                    dataType: "json",
                    data: {
                        cityName: request.term
                    },
                    success: function(data) {
                        response($.map(data, function(item) {
                            return {
                                label: item.name + ', ' + item.adminName1 + ', ' + item.countryName + ', ' + item.countryCode,
                                value: item.name,
                                fullLabel: item.name + ', ' + item.adminName1 + ', ' + item.countryName,
                                regioneName: item.adminName1,
                                statoName: item.countryName,
                                lat: item.lat,
                                lng: item.lng
                            };
                        }));
                    }
                });
            },
            minLength: 3,
            select: function(event, ui) {

                $("#cityInput").val(ui.item.fullLabel); // Imposta l'intera label nel campo #city
                $("#cityName").val(ui.item.value); // Imposta solo il nome della città in #cityName
                $("#regioneName").val(ui.item.regioneName);
                $("#statoName").val(ui.item.statoName);
                $("#cityLat").val(ui.item.lat);
                $("#cityLng").val(ui.item.lng);
                $("#submitBtn").prop("disabled", false);
                // Impedisci qualsiasi azione di visualizzazione automatica del nome della città
                event.preventDefault();
            }
        });

        // Validazione dell'invio del modulo
        $("form").submit(function(event) {
            if ($("#cityInput").val().trim() === "") {
                event.preventDefault(); // Previeni l'invio del modulo
                $("#cityError").show(); // Mostra il messaggio di errore
                $("#cityInput").addClass("is-invalid"); // Aggiungi classe per evidenziare il campo
            } else {
                $("#cityError").hide(); // Nascondi il messaggio di errore se il campo è compilato
                $("#cityInput").removeClass("is-invalid"); // Rimuovi classe di errore se presente
            }
        });
    });


</script>


</body>
</html>
