<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{ templateBase :: common_head_title( 'Tema Natale') }">

</head>

<body>
<header th:replace="~{templateBase :: header}"></header>

<!-- Contenuto principale -->
<div class="content">

    <h1>Benvenuti in Luna Sapiens</h1>
    <p>Tema natale - working in progrss.....</p>


</div>



<div th:replace="~{templateBase :: links-bootstrap-js}"></div>
<footer th:replace="~{templateBase :: footer}"></footer>
</body>
</html>
