<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/templateBase :: common_head_title_meta_links_scripts(~{::title},~{::meta},~{::links},~{::scripts})}">
    <title th:fragment="title">Test | test page</title>
    <th:block th:fragment="meta">
        <meta name="description" content="test" />
        <meta name="keywords" content="test" />
    </th:block>
    <th:block th:fragment="links">
        <link rel="stylesheet" href="/css/style.css">
    </th:block>
    <th:block th:fragment="scripts">
        <script src="/js/astrodraw.astrochart.3.0.2.astrochart.js"></script>
    </th:block>
</head>
<body>
<header th:replace="~{fragments/templateBase :: header}"></header>

<div class="container mt-4">
    <div th:replace="~{fragments/templateBase :: message_alerts}"></div>

    <div class="mt-5">
        <h2>TEST PAGE</h2>

        <div id="paper"></div>
        <button id="download-chart" class="btn btn-primary mt-3">Scarica Grafico</button>


    </div>


</div> <!-- fine container -->
<footer th:replace="~{fragments/templateBase :: footer}"></footer>
<div th:replace="~{fragments/templateBase :: link-js-util-bootstrap}"></div>


<script th:inline="javascript">


    /*
    // ORIGINAL
    var data = {
        "planets":{"Lilith":[18], "Chiron":[18], "Pluto":[63], "Neptune":[110, 0.2], "Uranus":[318], "Saturn":[201, -0.2],
            "Jupiter":[192], "Mars":[210], "Moon":[268], "Sun":[281], "Mercury":[312], "Venus":[330], "NNode":[2], "SNode":[182],
            "Fortune":[35]},
        "cusps":[296, 350, 30, 56, 75, 94, 116, 170, 210, 236, 255, 274]
    };
     */

    var data = {
        /*
        "planets": {
            "Sun": [303.53333333333336],
            "Moon": [163.18333333333334],
            "Mercury": [318.3333333333333],
            "Venus": [285.43333333333334],
            "Mars": [318.6666666666667],
            "Jupiter": [190.38333333333333],
            "Saturn": [189.75, -0.2],
            "Uranus": [239.36666666666667],
            "Neptune": [263.81666666666666],
            "Pluto": [204.33333333333334],
            "NNode": [131.3],
            "SNode": [311.3],
            "Lilith": [212.75],
            "Chiron": [43.4],
            "Fortune": [330.18333333333334]
        },*/

        "planets": /*[[${planets}]]*/ 'default',



        "cusps": [
            110.53333333333333,
            129.8,
            152.35,
            181.2,
            217.81666666666666,
            257.0,
            290.53333333333336,
            309.8,
            332.35,
            1.2,
            37.81666666666666,
            77.0
        ]

        // "cusps": /*[[${cusps}]]* 'default'/

    };



    document.addEventListener("DOMContentLoaded", function() {

        var radix = new astrochart.Chart('paper', 600, 600).radix( data );

        // Aspect calculation
        radix.addPointsOfInterest( {"As":[data.cusps[0]],"Ic":[data.cusps[3]],"Ds":[data.cusps[6]],"Mc":[data.cusps[9]]});
        radix.aspects();

        // Button to download the chart
        document.getElementById('download-chart').addEventListener('click', function() {
            // Find the SVG generated by Astrochart
            var svgElement = document.querySelector('#paper svg');
            if (svgElement) {
                // Convert SVG to a Data URL
                var serializer = new XMLSerializer();
                var svgString = serializer.serializeToString(svgElement);
                var svgBlob = new Blob([svgString], { type: "image/svg+xml;charset=utf-8" });
                var url = URL.createObjectURL(svgBlob);

                // Download the SVG as an image
                var downloadLink = document.createElement("a");
                downloadLink.href = url;
                downloadLink.download = "astrochart.svg";
                downloadLink.click();
                URL.revokeObjectURL(url);
            } else {
                alert("SVG non trovato!");
            }
        });

    });
</script>


</body>
</html>